.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 50px;
    padding-bottom: 60px;
}
.hero {
    background-color: black;
    height: 900px;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: cover;
    padding-top: 145px;
    padding-bottom: 130px;
}
.hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hero__content {
    max-width: 540px;
}
.hero__title {
    max-width: 560px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.hero__title-1 {
    font-size: 56px;
    display: block;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.hero__title-2 {
    font-size: 34px;
    display: inline-block;
    color: #080C07;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 15px 33px;
    outline: 1px solid rgba(248, 248, 248, 0.4);
    border-radius: 13px;
    background: linear-gradient(128deg, #eecf93 15.18%, #b77e3a 74.22%);
    margin-bottom: 25px;
}
.hero__text {
    display: inline-block;
    font-size: 28px;
    letter-spacing: 1px;
    color: #DADADA;
    line-height: 35px;
    max-width: 544px;
    padding: 22px 28px;
    text-align: center;
    margin-bottom: 125px;
    border-radius: 10px;
    border: 2px solid rgba(139, 138, 133, 0.1);
    background: rgba(255, 255, 255, 0.1);
}
.hero__text-white {
    color: #FEFEFE;
}
.hero__btn-wrapper {
    max-width: 560px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}
.hero__btn-text {
    font-size: 15px;
    font-weight: 600;
    text-align: right;
}
.hero__btn {
    color: #000000;
    padding: 10px 30px 10px 25px;
    outline: 1px solid rgba(161, 161, 158, 0.8);
    border-radius: 13px;
    background: linear-gradient(128deg, #eecf93 15.18%, #b77e3a 74.22%);
    display: flex;
    line-height: 1.2;
    letter-spacing: 1px;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    cursor: pointer; 
}
.quiz {
    background-color: #000000;
    background-image: url('../images/quizbg.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 80px;
}
.quiz__top {
    text-align: center;
}
.quiz__title {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}
.quiz__text {
    font-size: 25px;
    color: #DADADA;
    margin-bottom: 55px;
}

@media (max-width:1200px) {
    .hero {
        background-image: url('../images/backgroundMB.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;        
        padding-top: 26vw;        
        min-height: 177vw;        
        padding-bottom: 12.5vw;
    }

    .hero__container {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    .hero__content {
        max-width: 100%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .hero__bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .header {
        padding-top: 13vw;
        padding-bottom: 0;
    }

    .header__logo-img {
        width: 35vw;        
    }

    .hero__title {
        max-width: 100%;
        text-align: center;

    }

    .hero__title-1 {
        font-size: 8.7vw;
        display: block;
    }

    .hero__title-2 {
        outline: 1px solid rgba(255, 255, 255, 0.6);
        font-size: 5vw;
        letter-spacing: 6px;
        padding: 2.2vw 5.3vw;
        display: inline-block;
        border-radius: 23px;
    }

    .hero__text {
        max-width: 80%;
        align-self: flex-end;
        font-size: 3.7vw;
        letter-spacing: 2px;
        line-height: 1.3;
        margin-bottom: 25vw;
        padding: 3vw 4vw;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.09);
        border: 2px solid rgba(206, 206, 206, 0.2);
    }

    .hero__btn-icon {
        width: 6vw;
        min-width: 25px;
        height: 6vw;
        min-height: 25px;
    }

    .hero__btn-link {
        font-size: 3.2vw;
        letter-spacing: 2px;
        line-height: 1.2;
    }

    .hero__btn-text {
        font-size: 2.5vw;
        line-height: 1.2;
        width: 49%;
        letter-spacing: 2px;
    }

    .hero__btn {
        width: 51%;
        justify-content: center;
        padding: 1.8vw 2.2vw 1.8vw 1.8vw;
        gap: 35px;
        border-radius: 22px;
    }

    .hero__btn-wrapper {
        max-width: 100%;
        justify-content: flex-end;
        gap: 30px;
    }

    .quiz__top {
        text-align: left;
    }

    .quiz__title {
        font-size: 6.55vw;
    }

    .quiz__text {
        font-size: 3.3vw;
    }
}

@media (max-width:768px) {
    .hero__btn {       
        border-radius: 16px;
        gap: 20px;
    }

    .hero__title-1 {     
        margin-bottom: 5px;
        letter-spacing: 3px;
    }
    .hero__title-2 {        
        border-radius: 16px;
        letter-spacing: 4px;      
    }
    .hero__btn-wrapper {       
        gap: 18px;
    }

    .quiz {
        padding-top: 80px;
        padding-bottom: 80px;
    }  
}

@media (max-width:568px) {
    .hero {
        height: 180vw;
    }
    .hero__btn {       
        border-radius: 8px;
        justify-content: center;
        gap: 5px;
    }
    .hero__btn-text {       
        width: 50%;
       
    }
    .hero__title-1 {     
        margin-bottom: 1px;
        letter-spacing: 2px;
        line-height: 0.8;
    }

    .hero__title-2 {        
        border-radius: 8px;
        letter-spacing: 2px;
        margin: 0;
    }
    .hero__btn-wrapper {       
        gap: 12px;
    }
    .hero__text {        
        padding: 3vw 4vw;
        line-height: 1.2;
        border-radius: 5px;
        letter-spacing: 0;
        border: 1px solid rgba(206, 206, 206, 0.2);
    }
    .hero__btn-link {        
        line-height: 1.0;
        letter-spacing:1px;
    }
    .hero__btn-text {
        font-size: 2.3vw;
        line-height: 1;
        width: 49%;
        letter-spacing: 1px;
    }
    
    .quiz {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

